Candidate Answer Evaluator.json
{
  "name": "Candidate Answer Evaluator",
  "nodes": [
    {
      "parameters": {
        "path": "answer_evaluation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -16
      ],
      "id": "9ed9f384-4be4-49de-9cc9-36be9b1cab73",
      "name": "Webhook",
      "webhookId": "0d87f109-5930-4b0a-ab62-019569183dd6"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        -16
      ],
      "id": "d193b5be-7526-456a-ac21-52906196d61e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "Evaluate this candidate answer:\nquestion:{{ $json.query.question }}\nanswer: {{ $json.query.answer }}.\n\nGive a score 0–10, short feedback, and hiring recommendation (Yes/No/Maybe).\n\nReturn only in JSON format:\n{\"score\": <number>, \"feedback\": \"<short feedback>\", \"recommendation\": \"<Yes/No/Maybe>\"}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -208,
        -16
      ],
      "id": "82ad6d81-5f82-4cf5-a7bb-4469b9bfc0e6",
      "name": "OpanAI",
      "credentials": {
        "openAiApi": {
          "id": "hcGB6LzJtqtNQgvM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"score\": \" {{ $json.message.content.score}}\",\n  \"feedback\":\"{{ $json.message.content.feedback }}\",\n  \"recommendation\":\"{{ $json.message.content.recommendation }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -16
      ],
      "id": "6edd0425-15d6-4892-81ae-a8432c776bbe",
      "name": "Format"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpanAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpanAI": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4bd8b34a-1a6c-4129-aef3-7212a7e4f31e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed283cb09d41cffe8b0e301ef7514132cf0cc37b22797bed1c9d5aef7e0f7a7c"
  },
  "id": "CP1R8pZeBLVMbqaM",
  "tags": []
}