Interview Question Generator.json
{
  "name": "Interview Question Generator",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET"
        ],
        "path": "interview_questions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "f693e4da-b65f-4f5f-b43d-4932144e8c84",
      "name": "Webhook",
      "webhookId": "823293f7-fdad-430f-818e-e877af08a2ba"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        0
      ],
      "id": "c85c8f22-f386-4825-97f3-0f955fbcb9b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate 5 interview questions for this job description : {{ $json.query.job_description }} in {{ $json.query.interview_type }} style. Dont give question topic give questions directly. And give line space between questions. Avoid using double quotes(as i will set response in JSON)"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        0
      ],
      "id": "6e7a2d29-41da-49ae-8ed3-29c9e4a09ab7",
      "name": "OpanAI",
      "credentials": {
        "openAiApi": {
          "id": "hcGB6LzJtqtNQgvM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Q1\": \"{{ $json.message.content.split('\\n\\n')[0] }}\",\n  \"Q2\":\"{{ $json.message.content.split('\\n\\n')[1] }}\",\n  \"Q3\":\"{{ $json.message.content.split('\\n\\n')[2] }}\",\n  \"Q4\":\"{{ $json.message.content.split('\\n\\n')[3] }}\",\n  \"Q5\":\"{{ $json.message.content.split('\\n\\n')[4] }}\",\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "b6a9f626-4ad5-4d70-b4df-05397181e161",
      "name": "Format"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpanAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpanAI": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c9a209b-2d3f-4075-a7fe-10c95e5077ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed283cb09d41cffe8b0e301ef7514132cf0cc37b22797bed1c9d5aef7e0f7a7c"
  },
  "id": "GP3yoFpEGbQFuGjc",
  "tags": []
}